body {
  margin: 0px;
  overflow-x: hidden;
  zoom: 1;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
span,
button {
  font-family: "Titillium Web", sans-serif;
  color: #4a4a55;
}

a {
  color: #004b8e;
  font-weight: bold;
}

.active,
.dot:hover {
  background-color: #717171 !important;
}

main {
  display: grid;
  grid-template-columns: 300px 960px 660px;
  grid-auto-flow: column;
}

.section {
  border-top: 1px solid black;
  text-align: justify;
  margin-bottom: 30px;
}

.button {
  background-color: #004c8e;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 48px;
  text-decoration: none;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #003c70;
}

@media(-webkit-min-device-pixel-ratio: 1.25){
  body {
    zoom: 0.8;
  }
}