body{
    margin: 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p, h1, h2, h3, a{
    font-family: 'Titillium Web', sans-serif;
    color: #4A4A55;
    
}

.active, .dot:hover {
    background-color: #717171 !important;
}

main {
    display: grid;
    grid-template-columns: 300px 960px 660px;
    grid-auto-flow: column;
}